body{font-family: 'Fira Sans', sans-serif;}
.bg-color{background-color:black}
.about-section p{font-size:"16px";line-height: "28px";}
.contact-us{background-image: url(/images/footer.png); background-size: 100%; background-repeat: no-repeat;}
@media(max-width:767px){
    .header-section .navbar img{
        width:"200px";
    }
}
